*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  line-height: 1.15;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.container{
  margin: auto;
}

h2{
  line-height: 34px;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 15px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

.address-line-xs{
  display: none;
}

@media screen and (max-width: 767px){
  .address-line{display: none;}
  .address-line-xs{display: block;}
  .last-button button{display: none;}
  .register-button{margin: 0 !important;}
  .searching-line input::-moz-placeholder {font-size: 13px;}
  .searching-line input::-webkit-input-placeholder {font-size: 13px;}
  .container{width: 560px; max-width: 100%; padding: 0 8px;}
}

#main-header{
  box-shadow: 0 0 16px rgb(38, 38, 38, 0.16);
}

#main-header button{
  margin: 15px 10px 15px 0;
  padding: 8px 16px;
  background-color: #fff;
  line-height: 24px;
  border: 1px solid rgb(38, 38, 38, 0.16);
  border-radius: 2px;
  font-size: 12px;
}

#main-header span{
  font-size: 13px;
}

.login-buttons button{
  font-size: 11px !important;
}

.last-button{
  margin-left: 10px;
}

.last-button button{
  margin-right: 0 !important;
  border-style: none !important;
}

.login-buttons .register-button{
  color: #fff;
  background-color: #000 !important;
}

.login-buttons li{
  display: inline-block;
}

.address-line form{
  display: inline-block;
  position: relative;
  margin-left: 10px;
}

.address-line form button{
  position: absolute;
  top: 9px;
  left: 10px;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.address-line-xs{
  margin-bottom: 40px;
}

.address-line form input,
.address-line-xs form input{
  line-height: 39px;
  border: 1px solid rgb(38, 38, 38, 0.16);
  border-radius: 2px;
  padding-left: 40px;
  width: 100%;
}

.address-line-xs form{
  display: inline-block;
  position: relative;
  width: 100%;
}

.address-line-xs p{
  font-size: 11px;
  margin-bottom: 10px;
}

.address-line-xs button{
  padding: 8px 16px;
  background-color: #fff;
  line-height: 24px;
  border: 1px solid rgb(38, 38, 38, 0.16);
  border-radius: 2px;
  font-size: 12px;
}

.address-line-xs form button{
  position: absolute;
  top: 9px;
  left: 10px;
  padding: 0;
  margin: 0;
  border-style: none;
  background-color: #fff;
  line-height: 24px;
}

.searching-line form{
  position: relative;
  margin: 30px 0;
  padding: 15px 0;
  width: 100%;
  border-bottom: 1px solid rgb(117, 117, 177, 0.3);
}

.searching-line input,
.searching-line button{
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px; /*delete later */
}

.searching-line input{
  width: 100%;
  padding-left: 20px;
  font-size: 16px;
}

.searching-line input::-moz-placeholder {
  color: rgb(182, 182, 182);
}

.searching-line input::-webkit-input-placeholder {
  color: rgb(182, 182, 182);
}

.searching-line button{
  width: 16px;
  height: 26px;
  bottom: 10px;
  position: absolute;
}

#content img{
  width: 100%;
  margin-bottom: 5px;
}

#content .restaurants{
  margin-bottom: 35px;
}

#content .restaurants:hover{
  cursor: pointer;
  background-color: rgba(117, 117, 117, 0.04);
}

#content a{
  line-height: 21px;
}

#content h4{
  font-weight: normal;
  font-size: 16px;
}

#content .kitchen{
  font-size: 14px;
  color: rgb(98, 98, 98);
}

#content .time{
  font-size: 13px;
  line-height: 21px;
}

#content{
  margin-bottom: 40px;
}

footer{
  background: rgb(38, 38, 38);
  color: #fff;
  padding: 56px 0 40px;
}

footer a{
  color: #fff;
  transition: 0.2s linear;
}

footer a:hover,
footer span{
  color: rgb(73, 161, 68);
}

.footer-logo{
  margin-bottom: 40px;
}

.footer-wrapper{
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.select-language{
  margin-bottom: 32px;
  position: relative;
}

.select-language i,
.select-language button{
  position: absolute;
  border-style: none;
}

.select-language > i{
  top: 13px;
  left: 20px;
}

.select-language button{
  top: 13px;
  right: 85px;
}

.select-language select{
  color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  background: rgb(59, 59, 59);
  border-style: none;
  border-radius: 2px;
  padding: 12px 71px 12px 48px;
}

.footer-about{
  margin-top: 30px;
  margin-bottom: 40px;
}

.footer-about li{
  margin-bottom: 30px;
}

.footer-about button{
  margin-bottom: 50px;
}

footer p{
  font-size: 16px;
  margin-bottom: 20px;
}

.footer-stores{
  padding: 30px 0;
}

.footer-stores img{
  width: 109px;
  margin-right: 24px;
}

.footer-info{
  margin-bottom: 24px;
  margin-top: 30px;
}

.privacy-margin{
  margin-bottom: 20px;
}

.copy-info{
  font-size: 11px;
}
